{% extends 'base.html' %}
{% load static%}
{% block title %}
    Complete
{% endblock title %}


{% block content %}


    

<form method="POST" >
    {% csrf_token %}
    <div class="form-group">
      <label for="name-id">Name</label>
      <input type="text" name="name" class="form-control" id="name-id" placeholder="Your name" style="width: 10cm; ">
    </div>
    <div class="form-group">
      <label for="lastname-id">Last name</label>
      <input type="text" name="last_name" class="form-control" id="lastname-id" placeholder="Your lastname" style="width: 10cm;">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="width: 10cm;">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="phone-id">Phone</label>
      <input type="tel" name="phone" class="form-control" id="phone-id" placeholder="Your phone" style="width: 10cm;">
    </div>
    <div class="form-group">
      <label for="home-id">Home telphone</label>
      <input type="tel" name="home_phone" class="form-control" id="home-id" placeholder="Your telphone" style="width: 10cm;">
    </div>
    <div class="form-group">
      <label for="postal-id">Postal code</label>
      <input type="tel" name="postal_code" class="form-control" id="postal-id" placeholder="Your postalcode" style="width: 10cm;">
    </div>
    <div class="form-group">
      <label for="adrress-id">Adrress</label>
      <input type="text" name="adrress" class="form-control" id="adrress-id" placeholder="Your adrress" style="width: 20cm;">
    </div>
    <button type="submit"  class="btn btn-primary">Pay {{cart.get_total_price}} $</button>
</form>



{% endblock content %}

{% block js_files %}

{% endblock js_files %}




































































































